# Configuración del Servidor
PORT=4000
HOST=0.0.0.0
NODE_ENV=development

# Base de Datos (PostgreSQL)
DB_USER=postgres
DB_PASSWORD=tucontraseña
DB_HOST=localhost
DB_PORT=5432
DB_NAME=taskflow

# Seguridad (JWT)
# Puedes generar una clave segura con: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES=5m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES=1h

# Frontend URL (CORS)
# Para múltiples URLs, sepáralas por comas sin espacios (ej: http://localhost:5173,http://172.26.4.3:5173)
FRONTEND_URL=http://localhost:5173,http://172.26.4.3:5173
