# Configuración del Servidor
PORT=4000
NODE_ENV=development

# Base de Datos (PostgreSQL)
DB_USER=postgres
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=taskflow_db

# Seguridad (JWT)
# Puedes generar una clave segura con: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_ACCESS_SECRET=una_clave_secreta_muy_larga_y_segura_para_access_token
JWT_ACCESS_EXPIRES=5m
JWT_REFRESH_SECRET=otra_clave_secreta_diferente_y_segura_para_refresh_token
JWT_REFRESH_EXPIRES=1h

# Frontend URL (CORS)
FRONTEND_URL=http://localhost:5173
